.title h3{
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.jumbotron{
    background-color: rgb(247, 240, 240);
}

/* .my-link-style{
    text-decoration: none;
}

.my-link-style:hover{
    text-decoration: underline;
    
} */

table tr{
    background-color: brown;
}

.dotted-hr{
    border: dotted 6px white;
    border-bottom: none;
    margin: auto;
    margin-top: -40px;
    width: 140px;
}

.carousel-item{
    padding: 5% 15%;
    text-align: center;
    font-style: italic;
}

.feedback-img{
    width: 150px;
    height: 200px;
}

.carousel-indicators{
    bottom: -20px;
}